{% extends "layouts/base.html" %}

{% block title %} Test {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #555;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock stylesheets %}

{% block content %}

<!--idea is to walk the user through the process of modeling quantities at their job--stick with one scenario-->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          
          <h2 class="h4">Model Building</h2>
          <p class="mb-0">Use machine learning methods for property prediction.</p>
      </div>
      
  </div>
 
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <div id="selectDataset" class="mb-4">
        <h4>How do machine learning models work? Where are they used?</h4>
        <p>At the manufacturing plant, you have now been tasked with determining the toxicity of certain fuels. The toxicity of certain substances depends on their lipophilicity. This is a measure of how well they can dissolve in fats or other nonpolar substances, which is associated with their ability to cross the cell membrane and potentially kill cells.</p>
        <p>You'll be using a machine learning model to predict lipophilicity using a dataset of known values. At its simplest, this is a form of high-level regression: drawing a line that best fits a dataset. Though this may seem simple, machine learning has many diverse applications. Can you think of how the companies below use ML in their products?</p>
        <img src="https://d1.awsstatic.com/webteam/category-pages/Machine%20Learning/AI%20ML%20Customers.943db80195b6a3126f0df5282b8a85c67a4f5b93.png">
    </div>

    <div id="selectLR" class="mb-4" style="display:none;">
        <h4>The Math</h4>
        <p>Just like when you used a data plot, the goal is to minimize prediction error. Over many repeated trials, known as iterations, ML models adjust their predictions so that the total error is as small as possible.</p>
        <p>What about when you have multiple factors that determine the output, like how molecular weight and density could both predict boiling point with varying degrees of accuracy? What makes ML models powerful is that they can consider multiple quantities at the same time.</p>
        <img style="max-width: 15rem; margin-bottom: 1rem;" src="https://static.packt-cdn.com/products/9781789132212/graphics/7645d8e9-a560-4db6-bf10-a3985e081fa1.png">
        <p>After each iteration, the weight (W) is adjusted using some calculus toward greater accuracy. Y represents the output, x represents the input, and b is bias, or a small factor of adjustment necessary for the model to work. Over thousands of iterations, and millions of data points, even this relatively simple process can generate powerful predictions.</p>
    </div>

    <div id="selectDropout" class="mb-4" style="display:none;">
        <h4>Neural Networks</h4>
        <p>One popular way to design high-performance machine learning models is using the human brain as a basis. Often termed "deep learning," this involves several layers, each with many nodes, to process input data and generate predictions. Each node is like a neuron and functions using the equation on the previous slide (y = wx + b).</p>
        <p>However, since each node is connected to multiple others, there is a separate weight applied to each input. This means the equation looks more like this:</p>
        <img src="/static/assets/img/ml_equation.png">
        <p>Again, y = output, x = input, and b represents an adjustment term. Neural networks thus have several more layers of complexity, but by adjusting the w and x values for each node, they can eventually achieve remarkable performance. You may find them mimicking the human brain in applications like speech-to-text algorithms or even translators.</p>
        <p>When you're ready, go on to <u><a href="/test.html">Hyperparameter Tuning</a></u> to see how neural networks can be optimized.</p>
    </div>

      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <a id="prev" class="page-link" href="#">Previous</a>
                  </li>
                  <li id="pg1" class="page-item active">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li id="pg2" class="page-item">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li id="pg3" class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <!-- <li id="pg4" class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li id="pg5" class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li> -->
                  <li class="page-item">
                      <a id="next" class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/regression@2.0.1/dist/regression.min.js"></script>
<script>
/***
 * add fun images to model.html
*/
/*
1. use plot to predict
2. use regression/ML
3. compare to real data

consider using colab

 * for TDcommons, featurize smiles with deepchem and then use autogluon/another automl to do the rest
steps to work on competition dataset:
1. featurize
2. try different models and find best one
3. hyperparameter tuning
4. boosting (ensemble)
*/

$(document).ready(function() {
let learningRate = parseFloat($("#LRslider").val());
let dataset = "delaney";
let split = "scaffold";
let dropout = parseFloat($("#dropoutSlider").val());
let pageNum = 1;

//find out how to disable buttons on the css side

$("#pg1").click(() => {
    $("#pg2").removeClass("active");
    $("#pg3").removeClass("active");
    $("#pg4").removeClass("active");
    $("#pg5").removeClass("active");
    $("#selectLR").hide();
    $("#selectDropout").hide();
    $("#selectDataset").show();
    pageNum = 1;
    $("#pg1").addClass("active");
});

$("#pg2").click(() => {
    $("#pg1").removeClass("active");
    $("#pg3").removeClass("active");
    $("#pg4").removeClass("active");
    $("#pg5").removeClass("active");
    $("#selectDropout").hide();
    $("#selectDataset").hide();
    $("#selectLR").show();
    pageNum = 2;
    $("#pg2").addClass("active");
});

$("#pg3").click(() => {
    $("#pg1").removeClass("active");
    $("#pg2").removeClass("active");
    $("#pg4").removeClass("active");
    $("#pg5").removeClass("active");
    $("#selectDataset").hide();
    $("#selectLR").hide();
    $("#selectDropout").show();
    pageNum = 3;
    $("#pg3").addClass("active");
});

$("#next").click(() => {
    switch (pageNum) {
        case 1:
            $("#pg1").removeClass("active");
            $("#selectDataset").hide();
            $("#selectDropout").hide();
            $("#compareVals").hide();
            $("#selectLR").show();
            pageNum = 2;
            $("#pg2").addClass("active");
            break;

        case 2:
            $("#pg2").removeClass("active");
            $("#selectLR").hide();
            $("#selectDataset").hide();
            $("#compareVals").hide();
            $("#selectDropout").show();
            pageNum = 3;
            $("#pg3").addClass("active");
            break;

        case 3:
            window.location = "/test.html";
            break;
    
        default:
            $("#pg2").removeClass("active");
            $("#pg3").removeClass("active");
            $("#pg4").removeClass("active");
            $("#pg5").removeClass("active");
            $("#selectLR").hide();
            $("#selectDropout").hide();
            $("#compareVals").hide();
            $("#selectDataset").show();
            pageNum = 1;
            $("#pg1").addClass("active");
            break;
    }
});

$("#prev").click(() => {
    switch (pageNum) {
        case 2:
            $("#pg2").removeClass("active");
            $("#selectDropout").hide();
            $("#selectLR").hide();
            $("#selectDataset").show();
            pageNum = 1;
            $("#pg1").addClass("active");
            break;

        case 3:
            $("#pg3").removeClass("active");
            $("#selectDataset").hide();
            $("#selectDropout").hide();
            $("#selectLR").show();
            pageNum = 2;
            $("#pg2").addClass("active");
            break;
    
        default:
            $("#pg2").removeClass("active");
            $("#pg3").removeClass("active");
            $("#pg4").removeClass("active");
            $("#pg5").removeClass("active");
            $("#selectLR").hide();
            $("#selectDropout").hide();
            $("#selectDataset").show();
            pageNum = 1;
            $("#pg1").addClass("active");
            break;
    }
});

$("#selectDatasetField").change(() => {
    dataset = $("#selectDatasetField").val();
})

$("#trainButtonLR").click(() => {
    $("#LRLoader").css('display', 'inline-block');
    $.get("/train", 
    {
        dataset: dataset,
        split: split,
    }, (data) => {
        let score = data['score'];
        $("#LRLoader").hide();
        $("#showScoreLR").text("Score: " + score);
        $("#showScoreLR").show();
    });
});

$("#trainButtonDropout").click(() => {
    $("#dropoutLoader").css('display', 'inline-block');
    $.get("/train", 
    {
        dataset: dataset,
        split: split,
        dropout: dropout
    }, (data) => {
        let score = data['score'];
        $("#dropoutLoader").hide();
        $("#showScoreDropout").text("Score: " + score);
        $("#showScoreDropout").show();
    });
});


});

</script>
{% endblock javascripts %}
